<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
       
          <img src="https://i.pinimg.com/originals/f0/dd/ec/f0ddec76cda8ee2756e663924856f81e.png" alt="logo">
          <a>Flota Vehicular App</a>
        
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome">Welcome</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/transportistas">Transportistas</a>
            </li>
          </ul>
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/rutas">Rutas</a>
            </li>
          </ul>
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/recorridos">Recorridos</a>
            </li>
          </ul>
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/vehiculos">Vehiculos</a>
            </li>
          </ul>
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/posiciones">Posiciones</a>
            </li> <ul>
            <li nz-menu-item (click)="salir()">
              <a><i nz-icon nzType="logout" nzTheme="outline"></i> Cerrar Sesión</a>
            </li></ul>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>